.trainer-page {
    padding: 0px;
    background-color: var(--background-color-body);
    margin: auto;
    border-radius: 3%;
    padding: 3%;
}

.trainer-page form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trainer-page form input,
form select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.trainer-page form button {
    padding: 10px;
    font-size: 1rem;
    background-color: var(--title-one-color);
    color: var(--title-two-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.trainer-page form button:hover {
    background-color: var(--title-one-color);
}

.banner{
    background-image:url("../../../statics/banners/trainer.webp");
    background-size: cover;
    height: 100px;
}

@media screen and (max-width: 600px) {
    .trainer-page {
        border-radius: 0%;
    }
}