.first-section {
    background-color: var(--color-two);
    padding: 10px;
}

.exercises-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fill, var(--pictures-size-normal));
    gap: 20px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin: auto 0
}
.routine-list{
    margin: 30px;
}
.exercises-card {
    align-items: center;
    text-align: center;
    width: var(--excercises-card-width);
    height: var(--excercises-card-height);
}

.exercises-picture {
    width: var(--excercises-img-width);
    height: var(--excercises-img-height);
}

.level {
    margin: 10px;
    font-size: medium;

}
.controls{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--pictures-size-normal));
    width: 100%;
    text-align: center;
    gap: 20px;
    justify-content: center;

}
.controls div{
    width: fit-content;
    margin: auto;
}
.options {
    background-color: var(--color-two);
    color: var(--color-three);
    padding: 10px;
    border-radius: 5%;
    font-size: medium;
    border: 0px;
    box-shadow: 3px 3px 2px 2px var(--color-three);
}

.options:hover {
    box-shadow: 5px 5px var(--color-one);
    color: var(--color-one);
    padding: 10px;
    border: 0px;
}
.banner{
    background-image:url("../../../statics/banners/trainer.webp");
    background-size: cover;
    height: 100px;
}
@media screen and (max-width: 600px) {
    .exercises-grid {
        grid-template-columns: repeat(auto-fill, var(--pictures-size-phone));
    }
}