:root {
    --pictures-size-normal: 350px;
    --pictures-size-phone:300px;
}

.recipeCard {
    list-style: none;
    text-align: center;
    width: auto;

}

.recipeCard:hover {
    box-shadow:1px 1px 1px 1px black;
    border-radius: 3%;

}

.recipeCard img {
    height: fit-content;
    border-radius: 3%;
    width: var(--pictures-size-normal);
}

.recipeCard a{
    text-decoration: none;
}

@media screen  and (max-width: 600px){

.recipeCard img {
    width: var(--pictures-size-phone);
}
    
}