.recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--pictures-size-normal));
    gap: 40px;
    padding: 10px;
    justify-content: center;
    margin: 100px 0
}


@media screen and (max-width: 600px) {
    .recipes-grid {
        grid-template-columns: repeat(auto-fill, --pictures-size-phone);
    }
}