

.recipe-card {
    list-style: none;
    text-align: center;
    width: auto;

}

.recipe-card:hover {
    box-shadow:1px 1px 1px 1px black;
    border-radius: 3%;

}

.recipe-card img {
    height: fit-content;
    border-radius: 3%;
    width: var(--pictures-size-normal);
}

.recipe-card a{
    text-decoration: none;
    color: var(--title-one-color);
}

@media screen  and (max-width: 600px){

.recipe-card img {
    width: var(--pictures-size-phone);
}
    
}