.Main {
    min-height: var(--min-size-big-screen);
    background-color: var(--color-two);
    background-image: url("../../statics/banners/trainer.webp");
    background-size: cover;
    background-position: center;
    padding: 1px 10%;
}

.Routes {
    margin: 0px auto;

}

@media screen and (max-width: 1200px) {

    .Main {
        min-height: var(--min-size-normal-screen);
        background-color: var(--color-two);
        padding: 10px 10% 10% 10%;
    }
}

@media screen and (max-width: 600px) {

    .Main {
        min-height: var(--min-size-normal-screen);
        background-color: var(--color-two);
        padding: 0px;
    }
}