:root {
    --nav-bar-text-color: #000000;
    --nar-bar-bg-color: #F98866;
    --background-color-body: #FFF2D7;
    --title-size:5vw;
}

.nav-bar {
    font-size: x-large;
}

.nav-bar h1 {
    /* background-color: var(--background-color-body); */
    margin: 0px auto;
    padding: 10px 0px;
}

.nav-bar nav {
    background-color: var(--nar-bar-bg-color);
    padding: 10px 10%;
}

.nav-bar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    margin: var(--margin-general);

}

.nav-bar nav ul li {
    display: inline;
}

.nav-bar nav ul li a {
    text-decoration: none;
    color: var(--nav-bar-text-color);
}

.nav-bar nav ul li a:hover {
    text-decoration: underline;
}
.title-one{
    font-size: var(--title-size);
    color: var(--nav-bar-text-color);
    text-transform: capitalize;
}
.title-two{
    font-size: var(--title-size);
    color: var(--nav-bar-text-color);
    text-transform:uppercase;
}
.title{
    background-color: var(--background-color-body);
    padding: 15px 10%;
    margin: 0px;
}