.nav-bar {
    font-size: large;
}


.nav-bar-phone {
    display: none;
}

.nav-bar h1 {
    /* background-color: var(--color-two); */
    margin: 0px auto;
    padding: 10px 0px;
}

.nav-bar nav {
    background-color: var(--color-one);
    padding: 10px 10%;
}

.nav-bar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    margin: var(--margin-general);

}

.nav-bar nav ul li {
    display: inline;
}

.nav-bar nav ul li a {
    text-decoration: none;
    color: var(--color-two);
}

.nav-bar nav ul li a:hover::before {
    width: 105%;
    /* text-decoration: underline; */
}

.nav-bar nav ul li a:hover {
    animation: animate-title 1s;
    padding: 5px;
    box-shadow: 2px 2px 0px 0px var(--color-two);
}

.title-one {
    font-size: var(--title-size);
    color: var(--color-three);
    text-transform: capitalize;
}

.title-two {
    font-size: var(--title-size);
    color: var(--color-three);
    text-transform: uppercase;
}

.title {
    background-color: var(--color-two);
    padding: 15px 10%;
    margin: 0px;
    animation: animate 4s;
}

.title span {
    animation: animate-title 4s infinite;
}

.link {
    text-decoration: none;
}

@media screen and (max-width: 600px) {

    .nav-bar {
        font-size: normal;
        background-color: var(--color-one);
    }

    .nav-bar nav {
        background-color: var(--color-one);
        padding: 10px 5px;
        text-align: center;
    }

    .nav-bar-pc {
        display: none;
        background-color: var(--color-one);

    }

    .nav-bar-phone {
        display: block;
    }

    .nav-bar-phone {
        position: relative;
        width: 100%;
    }

    .title {
        background-color: var(--color-one);
        padding: 15px 0px;
        margin: 0px;
        animation: animate 4s;
    }

    .title span {
        animation:none;
    }
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        background-color: var(--color-one);

    }

    .menu-toggle {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .nav-bar ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-bar li {
        padding: 10px;
        text-align: center;
        width: fit-content;
        margin: auto;
    }

    .nav-bar li a {
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
    }

    .nav-bar  li a:hover {
        color: #0073e6;
    }

}

@keyframes animate-title {
    40% {
        color: var(--color-one);
    }

    100% {
        color: var(--color-three);
    }
}