.nav-bar {
    font-size: large;
}

.nav-bar h1 {
    /* background-color: var(--background-color-body); */
    margin: 0px auto;
    padding: 10px 0px;
}

.nav-bar nav {
    background-color: var(--nar-bar-bg-color);
    padding: 10px 10%;
}

.nav-bar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    margin: var(--margin-general);

}

.nav-bar nav ul li {
    display: inline;
}

.nav-bar nav ul li a {
    text-decoration: none;
    color: var(--nav-bar-text-color);
}

.nav-bar nav ul li a:hover::before {
    width: 105%;
    /* text-decoration: underline; */
}
.nav-bar nav ul li a:hover {
    animation: animate-title 1s ;
    padding: 5px;
    box-shadow:  2px 2px 0px 0px var(--title-two-color);
}

.title-one {
    font-size: var(--title-size);
    color: var(--nav-bar-text-color);
    text-transform: capitalize;
}

.title-two {
    font-size: var(--title-size);
    color: var(--nav-bar-text-color);
    text-transform: uppercase;
}

.title {
    background-color: var(--background-color-body);
    padding: 15px 10%;
    margin: 0px;
    animation: animate 4s infinite;
}
.title span{
    animation: animate-title 4s infinite;
}
.link {
    text-decoration: none;
}
@media screen and (max-width: 600px) {

    .nav-bar {
        font-size: normal;
    }
    .nav-bar nav {
        background-color: var(--nar-bar-bg-color);
        padding: 10px 5px;
        text-align: center;
    }
}
@keyframes animate-title{
    40%{
        color: var(--title-one-color);
    }
    100%{
        color: var(--title-three-color);
    }
}