:root {
    /* navBar */
    --title-size: 5vw;
    /* COLORS */
    --color-one:#EFB036;
    --color-one-transparent: #efb1368c;
    --color-two: #4C7B8B;
    --color-two-dark: rgba(56, 116, 120, 0.514);
    --color-three: #23486A;

    /* Body */
    --min-size-big-screen: 40vw;
    --min-size-normal-screen: 50vw;
    --min-size-phone-screen: 100vw;
    /* Recipes */
    --pictures-size-normal: 250px;
    --pictures-size-phone: 250px;
    /* footer */
    /* WORKOUT */
    --excercises-card-width: 280px;
    --excercises-card-height: 300px;
    --excercises-img-height: 250px;
    --excercises-img-width: 250px;
    /* PROGRAMS */
    --programs-img-width: 270px;
    --programs-img-height: 180px;
    --programs-card-height: 400px
}